#tab {
	width: 900px;
	height: auto;
	position: relative;
	margin: 40px auto 0 auto;
	border: 1px solid #c5c5c5;
}

html>body #tab {
	width: 900px;
}

#tab div {
	display: none;
}

#tab .block {
	display: block;
}


/*标题样式*/

#tab h3 {
	float: left;
	width: 103px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	color: #5a5a5a;
	font-family: Microsoft YaHei;
	font-weight: normal;
}

#tab h3:hover {
	background: #A7A7A7;
	color: #fff;
}

#tab .up {
	background: gray;
	color: #fff;
	font-size: 14px;
}


/*我的关注*/

#con_bdtab_1 {
	position: relative;
	margin-top: 50px;
	margin-left: -20px;
	font-size: 20px;
}

#con_bdtab_1 img {
	width: 900px;
	height: auto;
	padding: 15px;
}


/*推荐*/

#con_bdtab_2 {
	position: relative;
	margin-top: 50px;
	margin-left: -102px;
	font-size: 20px;
}

#con_bdtab_2 img {
	width: 900px;
	height: auto;
	padding: 15px;
}

#con_bdtab_2 span {
	font-size: 23px;
	color: gray;
	margin-left: 10px;
	font-weight: 200;
}

#con_bdtab_2 span:hover {
	color: blue;
}


/*导航*/

#con_bdtab_3 {
	position: relative;
	margin-top: 50px;
	margin-left: 5px;
	font-size: 20px;
}

#con_bdtab_3 img {
	width: 900px;
	height: auto;
	padding: 15px;
}


/*视频*/

#con_bdtab_4 {
	position: relative;
	margin-top: 50px;
	margin-left: -4px;
	font-size: 20px;
}

#con_bdtab_4 img {
	width: 900px;
	height: auto;
	padding: 15px;
}


/*换肤*/

.ri2 {
	position: absolute;
	margin-left: 1150px;
	margin-top: -20px;
	padding: 15px;
}

.commontheme {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 30px;
	box-shadow: 1px 1px 1px grey;
	background-color: gray;
	cursor: pointer;
}


/*绿色部分*/
.green {
    background-color: green;
}
/*红色部分*/
.red {
    background-color: red;
}
/*蓝色部分*/
.blue {
    background-color: blue;
}
/*灰色部分*/
.grey {
    background-color: grey;
}
/*橘色部分*/
.orange {
    background-color: orange;
}
/*粉色部分*/
.pink {
    background-color: pink;
}

.festival a {
	text-decoration: none;
	font: 15px arial;
	color: gray;
	padding-left: 15px;
	transition: box-shadow 0;
}

.festival a:hover {
	text-decoration: underline;
	color: darkorange;
	box-shadow: 1px 3px gray;
}

