body{
	font: 15px arial;
}
header{
	overflow: hidden;
}
header nav{
	width: 500px;
	float: right;
}
header nav a{
	margin-left: 15px;
}
/*主体部分*/
.content{
	text-align: center;
}	
/*通用输入框样式*/
.content input{
	width: 500px;
	height: 40px;
}
.saoma1{
	padding-top:200px;
}

/*自定义按钮样式*/
.ccbtn{
    cursor: pointer;
    width: 102px !important;
    height: 40px !important;
    line-height: 38px;
    margin-left: -4px;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
}

.navmore{
    cursor: pointer;
    width: 70px !important;
    height: 25px !important;
    border: 0;
    background: none;
    background-color: #38f;
    color: white;
    box-shadow: none;
}

/*底部信息*/
.footer 
{
	text-align: center;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 10px;
}
     