* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

.nav {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 150px;
	font-size: 13px;
    font-style: width: 100% black;
	white-space: nowrap;
	border-bottom: 1px solid #e6e6e6;
}

.navLeft {
	float: left;
	width: 320px;
	color: black;
	font-size: 13px;
}

/**宝箱 */
.goods {
	position: relative;
}

.left3item {
	position: relative;
	display: inline-block;
	float: left;
	line-height: 34px;
	color: black;
	margin-left: -15px;
}

.weather-city {
	margin-left: 15px;
	line-height: 34px;
	color: #333;
}

.weather-state {
	color: #38f;
}

.weather-exp {
	color: #38f;
}

.imgBox {
	position: absolute;
	width: 425px;
	display: none;
}

.weather-img {
	display: inline-block;
	position: relative;
	top: 2px;
	width: 18px;
	height: 18px;
	background: url(../img/a1.jpg) no-repeat;
	background-size: 18px 18px;
}


.navRight {
	position: relative;
	height: 34px;
	float: right;
	color: black;
	line-height: 34px;
	font-size: 13px;
	text-align: left;
}

.navRight a:hover {
	color: black;
}


html {
    overflow-y: auto;
    height: 100%;
    display: block;
}

.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 40px;
}

.blackNav {
    color: black;
    margin-left: 10px;
}

.normalNav {
    color: black;
    margin-left: 8px;
}

.moreProduct {
    background: #3385FF;
    padding: 5px;
    display: inline-block;
    margin: 0 10px 0 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}


/*中部*/

body {
    height: 100%;
    min-height: 667px;
    min-width: 800px;
}

.content {
    height: 100%;
    font: 12 arial;
    position: relative;
    display: block;
}

.div-header {
    height: 187px;
    position: relative;
    top: 16%;
    text-align: center;
    display: block;
}

.div-content {
    margin: 0px auto;
    position: relative;
    width: 640px;
    height: 187px;
}


/*输入框和button的集合*/

.div-bor {
    width: 640px;
    height: 36px;
    position: relative;
    margin-top: 22px;
    vertical-align: center;
}


/*百度搜索输入框-border*/

.div-input-bor {
    width: 539px;
    height: 36px;
    border: 1px solid #b6b6b6;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.div-input-bor:hover,
.div-input-bor:active {
    border-color: #999 transparent #b3b3b3 #999;
}

.div-input-bor:hover {
    border-color: #4791ff transparent #4791ff #4791ff;
}


/*输入框*/

#input-baidu {
    width: 500px;
    height: 22px;
    margin: 6px 0 0 7px;
    border: 0px;
    outline: 0px;
    line-height: 22px;
    padding: 0px;
    text-align: left;
    list-style: none;
    background: transparent;
}


/** 输入框中的相机图标 */
.icon-camaro {
	position: absolute;
	background-image: url(../img/camaro.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	right: 5px;
	top: 10px;
	outline: 0px;
}


/*百度一下按钮-border*/

.div-button-bor {
    height: 36px;
    width: 100px;
    position: absolute;
    left: 539px;
    outline: none;
    outline-style: none;
    nav-index: auto;
    bottom: 0px;
    border: 0px;
    padding: 0px;
    list-style: outside none none;
    text-align: left;
    background-image: none;
    vertical-align: top;
}


/*百度一下按钮*/

#btn-baidu {
    height: 36px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
    background: #3385FF;
    border: 0;
    border-bottom: 1px solid #2d78f4;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    outline-style: none;
    nav-index: auto;
}


/*百度一下按钮-鼠标悬停动画*/

#btn-baidu:hover {
    background: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}

#footer01 {
    font: 12px arial;
}

#footer02 {
    font: 12px arial;
    margin-top: 5px;
    color: #666;
}

a:hover {
    color: #0000FF;
}



.morenav {
	position: relative;
	display: inline-block;
	text-align: center;
	line-height: 23px;
	color: white;
	margin-left: 19px;
	margin-right: 2px;
}

.morebar {
	display: none;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 85px;
	height: 100%;
	background-color: #f9f9f9;
	border-left: 1px solid #e7e7e7;
	z-index: 500;
}

.moretxt {
	position: relative;
	background-color: #38f;
	width: 60px;
	height: 22px;
	display: block;
	right: 10px;
	z-index: 600;
}

.morenav:hover {
	color: black;
}

.moretxt:hover {
	background-color: #f9f9f9;
}

.morenav:hover .morebar {
	display: block;
}

.ccNullBox 
{
	display: block;
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 66px;
	height: 30px;
	border-bottom: 1px solid #f0f0f0;
	line-height: 30px;
}

.ccBox {
	display: block;
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 66px;
	height: 76px;
	border-bottom: 1px solid #f0f0f0;
}

.ccimg:hover {
	color: #666;
	text-decoration: underline;
}

.ccimg {
	display: block;
	color: #666;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
}

.ccimg img 
{
	margin: 5px auto 5px;
}

.weather {
	position: relative;
	float: left;
	top: 0px;
	font-size: 13px;
	width: 210px;
	height: 34px;
}

.weatherLocal {
	width: 200px;
	height: 34px;
}

.phone
{
	display: none;
}

.phone .nav {
	border-bottom: 0px solid #e6e6e6;
}

.phone-header {
    height: 187px;
    position: relative;
    top: 16%;
    text-align: center;
    display: block;
}

.phone-content {
    margin: 0px auto;
    position: relative;
    width: 540px;
    height: 187px;
}

.phone-bor {
    width: 540px;
    height: 36px;
    position: relative;
    margin-top: 22px;
    vertical-align: center;
}


.phone-button-bor {
    height: 36px;
    width: 100px;
    position: absolute;
    left: 439px;
    bottom: 0px;
    border: 0px;
    padding: 0px;
    list-style: outside none none;
    text-align: left;
    background-image: none;
    vertical-align: top;
}

.phone-input-bor {
    width: 439px;
    height: 36px;
    border: 1px solid #b6b6b6;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#phone-input-baidu {
    width: 400px;
    height: 22px;
    margin: 6px 0 0 7px;
    border: 0px;
    outline: 0px;
    line-height: 22px;
    padding: 0px;
    text-align: left;
    list-style: none;
    background: transparent;
}

.icon-user {
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.phone-ccBox {
	display: block;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: small;
	width: 55px;
	height: 66px;
	float: left;
	margin: 17px;
	color: gray;
}

.phone-ccimg {
	width: 22px;
	height: 22px;
	margin: 5px;
}

@media screen and (max-width: 800px)
{
	.content
	{
		display: none;
	}
	
	.phone
	{
		display: block;
	}
	.small-phone
	{
		display: none;
	}
}

.phone-text
{
	width: 70%;
    padding-top: 130px;
    margin: 0 auto;
}

.text-content
{
	padding: 10px;
	border-bottom: 1px solid #e6e6e6;
}

.text-li-color
{
	font-size: smaller;
	color: gray;
	margin: 10px 10px 10px 0;
}
@media screen and (max-width: 400px)
{
	.content
	{
		display: none;
	}
	
	.phone
	{
		display: none;
	}
	.small-phone
	{
		display: block;
	}
}
.small-phone-content img{
	margin-top:50px ;
	margin-left:65px ;
}
.small-phone-bor{
	width: 250px;
	height: 35px;
	border: 1px solid gray !important;
	margin-top: 30px;
	margin-left: 20px;
}
.small-phone-button-bor input{
	float: left;
	width: 50px;
	height:30px;
	margin-left:220px;
	margin-top: -30px;
}
