.content {
				margin-top: 150px;
				margin-left: 300px;
				background: lightgray;
				width: 380px;
				height: 400px;
				border-radius: 7px;
			}
			/*输出标签*/
			
			input {
				width: 300px;
				height: 45px;
				margin-left: 38px;
				margin-top: 60px;
				border-radius: 5px;
				font-size: 18px;
			}
			/*计算机按钮*/
			
			button {
				width: 70px;
				height: 42px;
				background: khaki;
				border-radius: 5px;
				margin: 1px;
				font: 15px arial;
			}
			/*计算机按钮外观*/
			
			.partn {
				margin-left: 38px;
				margin-top: 5px;
			}